html {
    height: 100%;
  }
  body {
    min-height: 100vh;
  }
.container {
    background-color: whitesmoke;
    min-height: 100vh;
}
.recentRecipesContainer{
    background-color: #e9ecef; 
    padding: 5px;
}
.recentRecipesContainer ul {
    list-style-type: none;
     padding:0;
}